.heroes__list_streight {
  width: 300px;
  min-height: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(5, 2, 2);
  background-color: rgb(211, 15, 15);
}
.heroes__lists_intelligance {
  width: 300px;
  min-height: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(5, 2, 2);
  background-color: rgb(8, 248, 236);
}
.heroes__lists_aggility {
  width: 300px;
  min-height: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(5, 2, 2);
  background-color: rgb(16, 248, 8);
}
.heroes__mainstat {
  color: rgb(21, 6, 34);
  font-size: 1.5em;
  padding: 15px;
  font-weight: bolder;
}

.heroes__list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-around;
}
